# Python
venv/
__pycache__/
*.py[cod]

# IDE
.idea/
.vscode/

# Data
data/
*.csv
*.log

# Secrets
/config/
.env
*.key

# Local overrides
*.local

# Ansible for devops
# pydantic for data validation and data serialization
# RabbiMQ for message broker